{% extends "nav-base.html" %}

{% import "post-preview.html" as post_macros %}

{% block posthead %} 
  {% for post in term.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <div class="mx-auto max-w-prose markdown my-12">
    <h3>{{ term.pages | length }} pages tagged with <em>{{ term.name }}</em></h1>
    <div class="taxonomy-container">
      {% for post in term.pages %}
        {{ post_macros::post_preview(post=post) }}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
