{% extends "nav-base.html" %}

{% block content %}
<div class="container mx-auto max-w-prose my-12">
  <div class="markdown">
    {{ page.content | safe }}
  </div>
  <h2>Ministry Timeline</h2>
  <ol class="relative border-l border-gray-200y-700">
    <li class="mb-10 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-whitey-9000"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-800">October 2019</time>
        <h3 class="text-lg font-semibold text-gray-900">Relocation to Florida</h3>
        <p class="mb-4 text-base font-normal text-gray-700">
          We concluded our full-time ministry in Papua New Guinea and relocated to the US.
        </p>
    </li>
    <li class="mb-10 ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-whitey-9000"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-800">June 2012</time>
        <h3 class="text-lg font-semibold text-gray-900">Bariai New Testament Dedication</h3>
        <p class="text-base font-normal text-gray-700">We celebrated as the Bariai people enthusiastically received published copies of the New Testament and Genesis and Exodus.</p>
    </li>
    <li class="ml-4">
        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-whitey-9000"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-800">July 1992</time>
        <h3 class="text-lg font-semibold text-gray-900">Began ministry in Papua New Guinea</h3>
        <p class="text-base font-normal text-gray-700">
          We brought our infant daughter to PNG and began our full-time ministry in the country.
        </p>
    </li>
</ol>
</div>
{% endblock content %}
