{% extends "nav-base.html" %}

{% block content %}
<div class="container mx-auto max-w-prose markdown my-12">
  <h1>{{ page.title }}</h1>
  <small>
    {{ page.date | date(format="%B %d, %Y") }}
    {% if page.taxonomies.tags %}
      - 
      <span class="tags">
        {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>
        {% endfor %}
      </span>
    {% endif %}
  </small>
  {{ page.content | safe }}
</div>
{% endblock content %}
