{% macro post_preview(post) %}
  <div class="my-12">
    <h3><a class="no-underline" href="{{ post.permalink }}">{{ post.title }}</a></h3>
    <div class="text-gray-700 my-2 italic">
      {{ post.date| date(format="%B %d, %Y") }} - {{ post.word_count }} words - {{ post.reading_time }} mins
    </div>
    <div class="summary">
      {% if post.summary -%}
        {{ post.summary }}
      {% else %}
        {{ post.content | safe | striptags | truncate(length=300) }}
      {%- endif %}
      <a href="{{ post.permalink }}">read more</a>
    </div>
  </div>
{% endmacro input %}
